{% extends 'store/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mt-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h4>Login</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
                </form>
            </div>
            <div class="card-footer text-center">
                Don't have an account? <a href="{% url 'store:register' %}">Register here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
