{% extends 'store/base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 mt-5">
        <div class="card shadow">
            <div class="card-header bg-success text-white text-center">
                <h4>Create an Account</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100 mt-3">Register</button>
                </form>
            </div>
            <div class="card-footer text-center">
                Already have an account? <a href="{% url 'store:login' %}">Log in here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
